@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200&family=Nanum+Pen+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@200&family=Tajawal&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");


@keyframes pulando {
  to {
    transform: translateY(30px); } }

#logo {
  margin-left: -10px;
  margin-top: 10px; }
  @media only screen and (max-width: 600px) {
    #logo {
      margin-left: 2px; } }

.menu-header {
  display: inline-flex; 
  margin-left: 30%;
}
  .menu-header li {
    padding: 10px; }
    @media only screen and (max-width: 600px) {
      .menu-header li {
        display: none; } }
    .menu-header li .title-header {
      font-size: 20px;
      color: #8d8d8d;
      font-family: Commissioner;
      font-variant: inherit;
      font-weight: 200; }

#setaUp {
  animation: pulando 1s ease-out alternate infinite;
  margin-top: -15%;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 600px) {
    #setaUp {
      display: none; } }

.banner-info {
  position: absolute;
  top: 20%;
  left: 5%; }
  @media only screen and (max-width: 600px) {
    .banner-info {
      top: 15%; } }
  .banner-info h1 {
    margin-left: -15px;
    font-size: 4rem;
    color: azure;
    font-family: Rubik;
    font-weight: 300; 
  padding: 20px;}
    @media only screen and (max-width: 600px) {
      .banner-info h1 {
        font-size: 2.5rem;
      margin-top: -20px; } }
  .banner-info #orcamento{
    background: #c60aff linear-gradient(to right, #c60aff, #ff7b00);
    border-radius: 25px 25px 0px 25px;
    border: none;
    padding: 12px;
    width: 12rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer; }
  .banner-info #orcamento:hover {
    background: #c60aff; }

.full-banner {
  width: 100%;
  flex-wrap: wrap; }
  @media only screen and (max-width: 600px) {
    .full-banner {
      height: 61vh;
      background: #b600ce;
      background: linear-gradient(90deg, rgb(40, 0, 104) 0%, #581aa2 35%, #a200ff 100%); }
      .full-banner img {
        display: none; } }
  .full-banner img {
    width: 100%; }

.container-servicos {
  flex-wrap: wrap;
  margin-top: 10%;
  margin-left: -2%; }
  .container-servicos button {
    width: 20rem;
    padding: 10px;
    border-radius: 25px;
    border: #d794fd 1px solid;
    cursor: pointer;
    font-family: Commissioner;
    font-size: 19px;
    font-weight: 600;
    color: #9d0aff;
    background: transparent; }
  .container-servicos button:hover {
    background: #ba04df linear-gradient(to right, #6303bd, #c804e2);
    color: #fff;
    transition: 0.5s;
    border: none;
    box-shadow: 0 0.1rem 1rem #6303bd; }

#ver-mais {
  font-family: arial;
  font-size: 17px;
  height: 30px;
  color: #6303bd;
  background: none;
  border: none;
  display: inline-flex;
  justify-content: center;
  padding: 20px;
  align-items: center; }

.container-servicos {
  text-align: center;
  justify-content: center; }
  .container-servicos .title-header {
    font-size: 20px;
    color: #8d8d8d;
    font-family: Commissioner;
    font-variant: inherit;
    font-weight: 200; }
  .container-servicos .grid {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%; }


.card-servico {
  box-shadow: 0 0.4rem 1rem #c5c5c5;
  margin-top: 10%;
  padding: 18px;
  width: 340px;
  margin: 15px;
  background-color: white;
  border-radius: 15px;
  text-align: center;
  transition: all 0.3s;
 }
 @media only screen and (max-width: 600px) {
  .card-servico{
   width: 310px; }

   .card-servico img{
    width: 310px; }
  
  }

  .card-servico img {
    justify-content: center;
    display: flex;
    border-radius: 7px;
    margin-top: 1rem;
    margin: -0.1rem; }
  .card-servico p {
    padding: 15px;
    text-align: left; }
    
  .card-servico button {
    width: 20rem;
    padding: 10px;
    border-radius: 25px;
    border: #d794fd 1px solid;
    cursor: pointer;
    font-family: Commissioner;
    font-size: 19px;
    font-weight: 600;
    color: #9d0aff;
    background: transparent; }

  .card-servico button:hover {
    background: #ba04df linear-gradient(to right, #6303bd, #c804e2);
    color: #fff;
    transition: 0.5s;
    border: none;
    box-shadow: 0 0.1rem 1rem #6303bd; }
    

.card-servico:hover {
  transition: all 0.5s;
  bottom: 10%;
  margin-top: -1%; }

.container-about {
  padding: 20px;
  justify-content: center;
 }
  

  .container-about p, .container-about h1 {
    text-align: left;
    color: #ffffff;
    }

.about {
  background: #ff4f73;
  background: linear-gradient(150deg, #fdab5d 0%, rgba(255, 100, 79, 0.869) 50%, rgba(253, 110, 110, 0.804) 100%);
  padding: 50px;
  border-radius: 70px;
  flex-wrap: wrap;
  justify-content: space-around;
  display: flex;
  align-items: center; }
  
  .about  #animation-about {
  float: right;
}
.about button {
  background: #6c4fa1 linear-gradient(to right, #a751f8, #d364c0);
  color: #fff;
  width: 10rem;
  padding: 10px;
  margin-top: 15px;
  border-radius: 25px;
border:none;
cursor: pointer;}

    @media only screen and (max-width: 600px) {
      .about .about-right img {
        display: none; }
        .about button {
          margin-left: 20px;
        } }

.legal {
  background-color: #3d3d3d;
  padding: 20px; }
  .legal p {
    text-align: center;
    color: #fff;
    font-size: 16px; }


    