@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Poppins:wght@300&family=Raleway:wght@300&display=swap');
@import 'mixins.scss';
@import 'variables.scss';
body,
html {
	text-decoration: none;
	list-style: none;
	margin: 0%;
	width: 100%;
	height: 100%;
	background-color: $background-color;
}

h1{ 
	font-size:40px;
	font-weight: 500;
	font-family: $font-title;
	color: $grey;
	margin: 0;
	
}

h2{
	font-size: 22px;
	letter-spacing: 0.8px;
	padding-bottom: 9px;
	margin: 0;
	text-align: left;
	margin-left: 10px;
	border-radius: 25px;
	font-weight: 900;
	font-family: $font-paragrapy;
	color: #6e31aa;

}

p {
	@include text-paragrapy()
}

a {
	font-family: $font-paragrapy;
    font-style: none;
	text-decoration: none;
}

i{
	margin-left: 5px;
}

#btn-mobile{
display: none;

}

#logo{
	@media(max-width: 600px){
			margin-left: -15%;
		}

	margin-left: 30%;
}

#header{
width: 100%;
position: absolute;
box-sizing: border-box;
height: 70px;
display: flex;
align-items: center;
padding: 3rem;
justify-content: space-between;

button{
	color: #e6e6e6;

	font-size: 17px;
	background: none;
	padding: 5px 15px 5px 15px;
	border-radius: 25px;
	border: 1.7px solid $grey-shadow;
	font-family: $font-paragrapy;
	font-weight: bold;
	cursor: pointer;
	transition:0.5s;
	
	&:hover{
		background: $wite;
        color:$primary-color;
	}
}

}

#menu{
	display: flex;
	list-style: none;
	gap: .9rem;
	
}
#menu a {
	display: block;
	color: $wite;
	padding: .5rem;
}


nav{
	@media(max-width: 600px){

		#menu{
			background: $wite;
			border-radius: 30px;
			position: absolute;
			width: 100%;
            z-index: 1000;
			top: 70px;
			right: 10px;
			height: 0;
			display: block;
			transition: .6s;
			visibility: hidden;
			overflow-y: hidden;
			
		}

		#menu a{
			color: grey;
			padding: 2px 0;
			margin: 5px 0px 15px 20px;
			border-bottom: 2px solid $grey-shadow;

		}
		#btn-mobile{
			display: flex;
			background: $wite;
			border: none;
			border-radius: 7px;
			padding: .5rem 1rem;
			gap: .5rem;
			
		}

		.hamburger{
			color: $purple;
			width: 20px;
			border-top: 2px solid;
		}
		.hamburger::after, .hamburger::before{
			
			display: block;
			content: '';
			width: 20px;
			height: 2px;
			background: currentColor;
			margin-top: 5px;
			transition: .5s;
			position: relative;
		}

	}


}

#nav.active #menu{
	height: calc(59vh - 70px);
	visibility: visible;
	/*overflow-y: auto;*/
	}

	#nav.active .hamburger{
		border-top-color: transparent;
	}
	#nav.active .hamburger::before{
transform: rotate(135deg);
	}

	#nav.active .hamburger::after{
		transform: rotate(-135deg);
		top: -7px;
	}


#footer {
	background: rgb(69, 46, 129);
	bottom: 0;
	padding: 20px;
	p {
		@include text-paragrapy();
		text-align: center;
        font-size: 15px;
		color: $wite;
	}
}


#_404 {
	display: grid;
	text-align: center;
	align-items: center;
	justify-content: center;
	padding: 100px;
}

.error-404 {
	@media only screen and (max-width: 600px) {
		width: 100%;
		padding: 0;
		height: 120%;
		lottie-player {
			width: 350px !important;
			height: 200px;
		}
		button {
			margin-top: -10%;
			width: 12rem !important;
		}
		.title-404 {
			position: relative;
			top: 50px;
		}
	}
	margin-top: 1%;
	padding: 25px;
	.title-404 {
		text-align: center;
	}
	lottie-player {
		width: 600px;
		height: 300px;
	}
	button {
		@include basic-btn();
        background-color: $grey;
        
	}
}