@import "global.scss";

.full-banner {
  width: 100%;
  flex-wrap: wrap;
  .mouse-scroll {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: -13%;
  }
  @media only screen and (max-width: 600px) {
    img {
      display: none;
    }
    
      height: 85vh !important;
      background: $primary-color;

    .mouse-scroll {
      display: none;
    }
  }
  @media only screen and (max-width: 1024px) {
    height: 85vh;
    img {
      display: none;
    }

    &.full-banner {

      background: linear-gradient(
        90deg,
        rgb(78, 4, 175)0%,
        #5e0ec0 35%,
        #a200ff 100%
      );

    }
  }
}

.banner-info {
  position: absolute;
  top: 25%;
  left: 5%;

  #orcamento-btn {
    @include primary-btn;
    animation: pulse 3s infinite;
    @-webkit-keyframes pulse {to {box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);}}
    @-moz-keyframes pulse {to {box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);}}
    @-ms-keyframes pulse {to {box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);}}
    @keyframes pulse {to {box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);}}
  }
  #portfolio-btn {
    @include basic-btn;
    margin-left: 15px;
  }
  
  h1 {
    font-size: 4rem;
    color: $wite;
    font-weight: 300;
    padding-bottom: 3rem;
  }
  @media only screen and (max-width: 600px) {
    
    h1 {
      font-size: 3rem;
      margin-top: -20px;
    }
  }
}

.container-servicos {
  h1 {
    margin-bottom: 2rem;
  }
  margin-top: 5%;
  padding: 0px 0px 50px;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.grid-card-services {
  padding: 5px;
  display: flex;
  justify-content: center;
  .container {
    width: 100%;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.card-servico {
  @media only screen and (max-width: 600px) {
    margin-left: -20px;
    width: 90%;

    img {
      width: 330px
    }

    p {
      @include text-paragrapy();
      width: 310px;
    }  
    button{
      width: 100% !important;
    }
    .model {
      height: 250px;
    }
    .container {
      width: 100%;
    }
  }

  box-shadow: $box-shadow;
  margin-top: 10%;
  padding: 18px;
  margin: 5px;
  width: 350px;
  background-color: $wite;
  border-radius: 15px;
  transition: all 0.3s;
  
  button {
    @include secondary-btn();
    width: 100%;
  }
  &:hover {
    transition: all 0.3s;
    margin-top: -1%;
  }
  .model {
    height: 250px;
    max-height: 100%;
    max-width: 100%;
  }

}

.container-about {
  padding: 20px;
  justify-content: center;
  p,
  h1 {
    text-align: left;
    color: $wite;
  }
}
.about {
  div, p{
    width: 30rem;
  }
  background: #ff4f73;
  background: linear-gradient(
    150deg,
    #fdab5d 0%,
    rgba(255, 100, 79, 0.869) 50%,
    rgba(253, 110, 110, 0.804) 100%
  );
  padding: 50px;
  border-radius: 70px;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  align-items: center;
  button {
    @include basic-btn;
  }
  
  @media only screen and (max-width: 600px) {

    lottie-player {
      display: none ;
    }
     div, p{
      width: 18rem;
    }
    .about-right img {
      display: none;
    }
    button {
      margin-left: 20px;
    }
  }
}


/*--------------- contact page---------------*/

.main-contact {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.contact-container{
  @media only screen and (max-width: 600px) {
    width: 100%;
    lottie-player {
       display: none ;
     } }

  margin-left: 0px;
  width: 50rem;
  justify-content: center;
  padding: 20px 20px;

  h2{
    @media only screen and (max-width: 600px) {
      width: 100%;
      margin-left: 0;
      margin-top: 15px;
      text-align: justify;
    }

    width: 80%;
    margin-left: 10px;
    @include text-paragrapy()
  }

  lottie-player {
    margin-left: -70px;
  }
}
.contact-info {
display: inline-flex;
font-size: 14px;
flex-wrap: wrap;
justify-content: left;

h3{
padding:7px;
padding-right:  20px;
border:solid 1px  $purple;
font-family: $font-paragrapy;
color:  $purple;
margin: 5px;
border-radius: 30px;
}
i{
  color:  $purple;
  padding-left: 10px;
}

}
.form-container {
  @media only screen and (max-width: 600px) {
    margin: 10px;
  }
  margin-left: -100px;
  width: 35rem;
  height: 38rem;
  
  form {
    @include forms();
   }

}
