
$font-title:Quicksand;
$font-paragrapy:Poppins;
$font-buttons:Raleway;
$background-color:#f7f7f7;
$primary-color:#7513d1;
$wite: #fff;
$yellow:#f5bc00;
$orange: #ff7b00;
$grey: #7c7979;
$footer-color:#5c5c5c;