
$font-title:Quicksand;
$font-paragrapy:Poppins;
$font-btn:Raleway;
$background-color:#f7f7f7;
$primary-color:blueviolet;
$purple:rgb(109, 43, 170);
$wite: #fff;
$yellow:#f5bc00;
$orange: #ff7b00;
$grey: #929292;
$grey-text:#9b9b9b;
$grey-shadow:#e7e7e7;
$footer-color:#5c5c5c;
$box-shadow: 2px 6px 7px $grey-shadow;