@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Poppins:wght@300&family=Raleway:wght@300&display=swap");
body, html {
  margin: 0;
  text-decoration: none;
  list-style: none;
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
}

h1 {
  font-size: 35px;
  font-weight: 500;
  font-family: Quicksand;
  color: #7c7979;
}

h2 {
  font-family: Quicksand;
}

p {
  font-family: Poppins;
  color: #7c7979;
}

a {
  text-decoration: none;
  font-style: none;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
}
header #circle-wite {
  border: solid 2px #f7f7f7;
  background-color: transparent;
  border-radius: 25px;
  padding: 5px;
  text-align: center;
  width: 9rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
}
header #circle-wite:hover {
  background: #f7f7f7;
  color: #7513d1;
  transition: ease-in-out 0.2s;
}
header #logo {
  margin-left: 80px;
}
header img {
  margin-left: 70px;
}
@media screen and (max-width: 600px) {
  header #logo {
    margin-top: 15px;
    margin-left: 30px;
  }
}
header .menu-header {
  display: inline-flex;
  justify-content: space-between;
}
@media only screen and (max-width: 600px) {
  header .menu-header {
    display: none;
  }
}
header .menu-header li {
  margin-right: 30px;
  list-style: none;
}
header .menu-header ul, header .menu-header a {
  text-decoration: none;
  font-style: none;
  font-family: Poppins;
  color: #f7f7f7;
}

#whatsapp-button {
  display: none;
}
@media only screen and (max-width: 600px) {
  #whatsapp-button {
    display: inline;
    position: fixed;
    top: 75%;
    right: 2.5%;
    padding: 10px;
    z-index: 10000000;
  }
}

.full-banner {
  width: 100%;
  flex-wrap: wrap;
}
.full-banner .mouse-scroll {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: -12%;
}
@media only screen and (max-width: 600px) {
  .full-banner #orcamento {
    display: none;
  }
  .full-banner img {
    display: none;
  }
  .full-banner.full-banner {
    height: 65vh;
    background: #7513d1;
    background: linear-gradient(90deg, #280068 0%, #581aa2 35%, #a200ff 100%);
  }
  .full-banner .mouse-scroll {
    display: none;
  }
}

.banner-info {
  position: absolute;
  top: 15%;
  left: 5%;
}
.banner-info button {
  background: #ff7b00 linear-gradient(to right, #ff7b00, #f5bc00);
  width: 12rem;
  height: 45px;
  padding: 10px;
  border-radius: 30px;
  border: none;
  font-family: Poppins;
  color: #f7f7f7;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}
.banner-info button:hover {
  background: #ff7b00 linear-gradient(to left, #ff7b00, #f5bc00);
  color: #f7f7f7;
  transition: ease-in-out 0.2s;
  border: none;
  box-shadow: 0 2px 5px #d8642e;
}
.banner-info h1 {
  margin-left: -15px;
  font-size: 4rem;
  color: #fff;
  font-weight: 300;
  padding: 20px;
}
@media only screen and (max-width: 600px) {
  .banner-info.banner-info {
    top: 15%;
  }
  .banner-info h1 {
    font-size: 3rem;
    margin-top: -20px;
  }
}

.container-servicos {
  margin-top: 5%;
  padding: 0px 0px 50px;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.grid-card-services {
  padding: 5px;
  display: flex;
  justify-content: center;
}
.grid-card-services .container {
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-servico {
  box-shadow: 1px 0.4rem 5px #dbdbdb;
  margin-top: 10%;
  padding: 18px;
  margin: 5px;
  width: 350px;
  background-color: #fff;
  border-radius: 15px;
  text-align: left;
  transition: all 0.3s;
}
.card-servico p {
  padding: 0px 1px 1px 15px;
  font-weight: 400;
  text-align: left;
  color: #7c7979;
}
.card-servico button {
  width: 22rem;
  padding: 10px;
  border-radius: 30px;
  border: #d794fd 1px solid;
  font-family: Raleway;
  cursor: pointer;
  font-size: 19px;
  font-weight: 600;
  color: #9d0aff;
  background-color: white;
}
.card-servico button:hover {
  background: #ba04df linear-gradient(to right, #791fcc, #db7ae7);
  color: #f7f7f7;
  transition: all 0.4s;
  border: none;
  box-shadow: 0 2px 2px #862ed8;
}
.card-servico:hover {
  transition: all 0.3s;
  margin-top: -0.2%;
}
.card-servico .model {
  height: 250px;
  max-height: 100%;
  max-width: 100%;
}
@media only screen and (max-width: 600px) {
  .card-servico.card-servico img {
    width: 310px;
  }
  .card-servico button {
    width: 19rem;
  }
  .card-servico p {
    font-size: 16px;
    width: 280px;
  }
  .card-servico.card-servico {
    margin-left: 1px;
    width: 90%;
    height: 500px;
  }
  .card-servico .model {
    height: 250px;
  }
}

.container-about {
  padding: 20px;
  justify-content: center;
}
.container-about p, .container-about h1 {
  text-align: left;
  color: #fff;
}

.about {
  background: #ff4f73;
  background: linear-gradient(150deg, #fdab5d 0%, rgba(255, 100, 79, 0.869) 50%, rgba(253, 110, 110, 0.804) 100%);
  padding: 50px;
  margin-top: -2%;
  border-radius: 70px;
  flex-wrap: wrap;
  justify-content: space-around;
  display: flex;
  align-items: center;
}
.about #animation-about {
  float: right;
}
.about button {
  border: solid 2px #f7f7f7;
  background-color: transparent;
  border-radius: 25px;
  padding: 5px;
  text-align: center;
  width: 9rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
}
.about button:hover {
  background: #f7f7f7;
  color: #7513d1;
  transition: ease-in-out 0.2s;
}
@media only screen and (max-width: 600px) {
  .about .about .about-right img {
    display: none;
  }
  .about .about button {
    margin-left: 20px;
  }
}

.legal {
  background: #b554ff;
  background: linear-gradient(274deg, #b554ff 0%, #9533ff 46%, #722bff 85%);
  padding: 20px;
}

p {
  text-align: center;
  color: #fff;
  font-size: 16px;
}

/*# sourceMappingURL=style.css.map */
