@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Poppins:wght@300&family=Raleway:wght@300&display=swap");
body, html {
  margin: 0;
  text-decoration: none;
  list-style: none;
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
}

h1 {
  font-size: 35px;
  font-weight: 500;
  font-family: Quicksand;
  color: #7c7979;
}

h2, label {
  font-family: Quicksand;
  font-size: 20px;
  color: #7c7979;
}

p {
  font-family: Poppins;
  color: #7c7979;
}

a {
  text-decoration: none;
  font-style: none;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  margin: 10px 0px 0px;
}
header #circle-wite {
  border: solid 2px #f7f7f7;
  background-color: transparent;
  border-radius: 25px;
  padding: 5px;
  text-align: center;
  width: 9rem;
  font-family: Raleway;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
}
header #circle-wite:hover {
  background: #f7f7f7;
  color: #7513d1;
  transition: ease-in-out 0.2s;
}
header #logo {
  margin-left: 80px;
}
header img {
  margin-left: 70px;
}
@media screen and (max-width: 600px) {
  header #logo {
    margin-top: 15px;
    margin-left: 30px;
  }
}
header .menu-header {
  display: inline-flex;
  justify-content: space-between;
}
@media only screen and (max-width: 600px) {
  header .menu-header {
    display: none;
  }
}
header .menu-header li {
  margin-right: 30px;
  list-style: none;
}
header .menu-header ul, header .menu-header a {
  text-decoration: none;
  font-style: none;
  font-family: Poppins;
  color: #f7f7f7;
}

.header-pages {
  position: relative;
  width: 99%;
  background-color: blueviolet;
  border-radius: 50px;
  margin: 10px 5px 0px;
}

#whatsapp-button {
  display: none;
}
@media only screen and (max-width: 600px) {
  #whatsapp-button {
    display: inline;
    position: fixed;
    top: 75%;
    right: 2.5%;
    padding: 10px;
    z-index: 10000000;
  }
}

textarea {
  margin: 10px 0px 0px 0px;
  background-color: #fff;
  border: solid 2px #e7e7e7;
  border-radius: 10px;
  max-width: 97%;
  max-height: 23%;
  padding: 10px;
  font-family: Poppins;
  font-size: 17px;
}
textarea:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
  border: solid 2px blueviolet;
}

input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.full-banner {
  width: 100%;
  flex-wrap: wrap;
}

.full-banner .mouse-scroll {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: -12%;
}
@media only screen and (max-width: 600px) {
  .full-banner #orcamento {
    display: none;
  }
  .full-banner img {
    display: none;
  }
  .full-banner.full-banner {
    height: 65vh;
    background: #7513d1;
    background: linear-gradient(90deg, #280068 0%, #581aa2 35%, #a200ff 100%);
  }
  .full-banner .mouse-scroll {
    display: none;
  }
}

.banner-info {
  position: absolute;
  top: 15%;
  left: 5%;
}
.banner-info button {
  background: #ff7b00 linear-gradient(to right, #ff7b00, #f5bc00);
  width: 12rem;
  height: 45px;
  padding: 10px;
  border-radius: 30px;
  border: none;
  font-family: Poppins;
  color: #f7f7f7;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}
.banner-info button:hover {
  background: #ff7b00 linear-gradient(to left, #ff7b00, #f5bc00);
  color: #f7f7f7;
  transition: ease-in-out 0.2s;
  border: none;
  box-shadow: 0 2px 5px #d8642e;
}
.banner-info h1 {
  margin-left: -15px;
  font-size: 4rem;
  color: #fff;
  font-weight: 300;
  padding: 20px;
}
@media only screen and (max-width: 600px) {
  .banner-info.banner-info {
    top: 15%;
  }
  .banner-info h1 {
    font-size: 3rem;
    margin-top: -20px;
  }
}

.container-servicos {
  margin-top: 5%;
  padding: 0px 0px 50px;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.grid-card-services {
  padding: 5px;
  display: flex;
  justify-content: center;
}
.grid-card-services .container {
  width: 100%;
  margin-top: -10px;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-servico {
  box-shadow: 3px 0.4rem 5px #e2e2e2;
  margin-top: 10%;
  padding: 18px;
  margin: 5px;
  width: 350px;
  background-color: #fff;
  border-radius: 15px;
  text-align: left;
  transition: all 0.3s;
}
.card-servico p {
  padding: 0px 1px 1px 15px;
  font-weight: 400;
  text-align: left;
  color: #7c7979;
}
.card-servico button {
  width: 22rem;
  padding: 10px;
  border-radius: 30px;
  border: #d794fd 1px solid;
  font-family: Raleway;
  cursor: pointer;
  font-size: 19px;
  font-weight: 600;
  color: #9d0aff;
  background-color: white;
}
.card-servico button:hover {
  background: #ba04df linear-gradient(to right, #791fcc, #db7ae7);
  color: #f7f7f7;
  transition: all 0.4s;
  border: none;
  box-shadow: 0 2px 2px #862ed8;
}
.card-servico:hover {
  transition: all 0.3s;
  margin-top: -1%;
}
.card-servico .model {
  height: 250px;
  max-height: 100%;
  max-width: 100%;
}
@media only screen and (max-width: 600px) {
  .card-servico.card-servico img {
    width: 310px;
  }
  .card-servico button {
    width: 19rem;
  }
  .card-servico p {
    font-size: 16px;
    width: 280px;
  }
  .card-servico.card-servico {
    margin: -11px;
    margin-left: -4px;
    width: 90%;
    height: 500px;
  }
  .card-servico .model {
    height: 250px;
  }
  .card-servico .container {
    width: 100%;
    margin-top: 20px;
  }
}

.container-about {
  padding: 20px;
  justify-content: center;
}
.container-about p, .container-about h1 {
  text-align: left;
  color: #fff;
}

.about {
  background: #ff4f73;
  background: linear-gradient(150deg, #fdab5d 0%, rgba(255, 100, 79, 0.869) 50%, rgba(253, 110, 110, 0.804) 100%);
  padding: 50px;
  margin-top: -2%;
  border-radius: 70px;
  flex-wrap: wrap;
  justify-content: space-around;
  display: flex;
  align-items: center;
}
.about #animation-about {
  float: right;
}
.about button {
  border: solid 2px #f7f7f7;
  background-color: transparent;
  border-radius: 25px;
  padding: 5px;
  text-align: center;
  width: 9rem;
  font-family: Raleway;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
}
.about button:hover {
  background: #f7f7f7;
  color: #7513d1;
  transition: ease-in-out 0.2s;
}
@media only screen and (max-width: 600px) {
  .about .about .about-right img {
    display: none;
  }
  .about .about button {
    margin-left: 20px;
  }
}

/*--------------- contact page---------------*/
.header-pages {
  position: relative;
  width: 99%;
  background-color: blueviolet;
  border-radius: 50px;
  margin: 10px 7px 0px;
}

@media only screen and (max-width: 600px) {
  .header-pages {
    width: 100%;
    margin: 0px;
    margin: 0px;
  }
  .header-pages #logo {
    margin-top: -2%;
    padding: 10px;
  }
}

.contact-container {
  border-radius: 30px;
  margin: 20px;
  width: 96%;
  height: 100vh;
  padding: 10px;
  display: flex;
}
@media only screen and (max-width: 600px) {
  .contact-container {
    display: grid;
    height: 190vh;
    width: 300px;
    margin: -11px 10px -7px 0px;
  }
  .contact-container .contact-info {
    display: grid;
    width: 300px !important;
  }
  .contact-container lottie-player {
    display: none;
  }
  .contact-container h3 {
    display: grid !important;
  }
  .contact-container h2 {
    margin-top: -5%;
    width: 350px;
    margin: -10px 0px -10px 0px;
  }
}
.contact-container h1 {
  color: blueviolet;
  font-size: 40px;
}
.contact-container .contact-info {
  padding: 20px;
  text-align: left;
  width: 50%;
}
.contact-container .contact-info h3 {
  font-family: Poppins;
  display: inline;
  color: #ff7b00;
  border: solid 1px #ff7b00;
  border-radius: 25px;
  font-size: 16px;
  padding: 5px 19px 5px;
}
.contact-container .contact-info #mapa {
  background-color: #ff7b00;
  color: #fff;
  cursor: pointer;
}
.contact-container .contact-info i {
  margin: 5px;
}
.contact-container .contact-info button {
  background: #ff7b00 linear-gradient(to right, #ff7b00, #f5bc00);
  width: 12rem;
  height: 45px;
  padding: 10px;
  border-radius: 30px;
  border: none;
  font-family: Poppins;
  color: #f7f7f7;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}
.contact-container .contact-info button:hover {
  background: #ff7b00 linear-gradient(to left, #ff7b00, #f5bc00);
  color: #f7f7f7;
  transition: ease-in-out 0.2s;
  border: none;
  box-shadow: 0 2px 5px #d8642e;
}
.contact-container .card-contact {
  float: right;
  margin-left: 2%;
  box-shadow: 0px 0.8rem 10px #e2e2e2;
  border-radius: 25px;
  background-color: #fff;
  height: 600px;
  width: 550px;
  padding: 40px;
}
@media only screen and (max-width: 600px) {
  .contact-container .card-contact {
    float: none;
    width: 320px;
    margin-left: -5px;
    margin-top: -10px !important;
  }
}
.contact-container button {
  font-size: 20px !important;
  height: 60px !important;
  margin: 5px;
  margin-top: 5%;
  width: 100% !important;
  background: #ff7b00 linear-gradient(to right, #ff7b00, #f5bc00);
  width: 12rem;
  height: 45px;
  padding: 10px;
  border-radius: 30px;
  border: none;
  font-family: Poppins;
  color: #f7f7f7;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}
.contact-container button:hover {
  background: #ff7b00 linear-gradient(to left, #ff7b00, #f5bc00);
  color: #f7f7f7;
  transition: ease-in-out 0.2s;
  border: none;
  box-shadow: 0 2px 5px #d8642e;
}
.contact-container .contact-fields {
  margin: 10px 0px 10px 0px;
  background-color: #fff;
  border: solid 2px #e9e9e9;
  border-radius: 10px;
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .contact-container .contact-fields {
    padding: 0px 0px 0px 10px;
  }
}
.contact-container .contact-fields input {
  font-family: Poppins;
  font-size: 17px;
  border: none;
  padding: 10px;
  height: 20px;
  width: 90%;
  color: #7c7979;
}
.contact-container .contact-fields i {
  color: grey;
}

.legal {
  background: #b554ff;
  background: linear-gradient(274deg, #b554ff 0%, #9533ff 46%, #722bff 85%);
  padding: 0px;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .legal {
    width: 100%;
  }
}
.legal p {
  padding: 30px;
  text-align: center;
  color: #fff;
  font-size: 16px;
}

/*# sourceMappingURL=style.css.map */
